@{
    ViewBag.Title = "Home Page";
}

<style>
    .boxShadow-r {
        padding: 10px;
        box-shadow: -7px 4px 7px #ccc inset;
    }

    .boxShadow-l {
        padding: 10px;
        box-shadow: 7px 4px 7px #ccc inset;
    }
</style>

<div class="row d-flex justify-content-between" style="height: 70vh">
    <div class="col-md-7 boxShadow-r">
        <div class="col-md-12 border-bottom border-5 border-warning-subtle"><h1>Môn học</h1></div>
        <div class="col-md-12">
            
        </div>
    </div>

    <div class="col-md-4 boxShadow-l">
        <div class="col-md-12 border-bottom border-5 border-warning-subtle"><h1>Khóa học</h1></div>
        <div class="col-md-12">
            <ul>
                @Html.Action("KhoaHoc","Home")
            </ul>
        </div>
    </div>
</div>